body{
    position: relative;
    background: #141720;
}

.lineContent{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
}

.lineContent span{
    display: flex;
    width: 1px;
    height: 100%;
    background: #24262E;
}

.section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 35px;
    position: relative;
}


.section::after{
    content: '';
    position: absolute;
    top: 0;
    width: 60%;
    height: 1px;
    background: #24262E;
    z-index: -2;
}

.btn{
    display: inline-block;
    background: #48516D;
    border: 1px solid #48516D;
    color: #fff;
    padding: 14px 28px;
    border-radius: 5px;
    transition: .4s;
    font-size: 14px;
    border-radius: 100px;
}

.btn:hover{
    background: none;
    border: 1px solid #fff;
}

.sectionTitle span{
    font-size: 20px;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
}

.sectionTitle h2{
    color: #fff;
    font-size: 40px;
}

/* contacts */

.contactContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.map{
    height: 320px;
    width: calc(100% - 390px);
    border-radius: 20px;
    overflow: hidden;
}

.contactBlock{
    width: 360px;
    background: #272B37;
    border-radius: 20px;
}

.contactBlockContent{
    padding: 25px;
}

.contactBlockContent h2{
    font-size: 20px;
    margin-top: 25px;
    color: #fff;
}

.contactBlockContent h2:nth-child(1){
    margin-top: 0;
}

.contactItem{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.contactItem img{
    width: 17px;
    height: 17px;
}

.contactItem p{
    color: #fff;
    margin-left: 5px;
}

.contactItem a{
    color: #fff;
}


@media(min-width: 320px) and (max-width: 550px){
    .sectionTitle span{
        font-size: 14px;
    }
    
    .sectionTitle h2{
        font-size: 24px;
    }

    /* contacts */

    .contactContainer{
        justify-content: center;
        flex-wrap: wrap;
    }

    .map{
        width: 100%;
    }

    .contactBlock{
        width: 100%;
        margin-top: 25px;
    }
}


@media(min-width: 550px) and (max-width: 960px){
   
    /* contacts */

    .contactContainer{
        justify-content: center;
        flex-wrap: wrap;
    }

    .map{
        width: 100%;
    }

    .contactBlock{
        width: 100%;
        margin-top: 25px;
    }
   
}






.blobContent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

}

.blobContent svg{
    position: absolute;
    z-index: -1;
}

.blobContent svg:nth-child(1){
    right: -150px;
    top: 80px;
    width: 250px;
    height: 250px;
}

.blobContent svg:nth-child(2){
    left: -100px;
    top: 450px;
    width: 200px;
    height: 200px;
}


.blobContent svg:nth-child(3){
    right: -150px;
    top: 1500px;
    width: 320px;
    height: 320px;
}


.blobContent svg:nth-child(4){
    left: -70px;
    top: 2200px;
    width: 160px;
    height: 160px;
}

@media(min-width: 320px) and (max-width: 550px){
    .blobContent svg:nth-child(1){
        right: -90px;
        top: 80px;
        width: 180px;
        height: 180px;
    }

    .blobContent svg:nth-child(2){
        left: -100px;
        top: 550px;
        width: 180px;
        height: 180px;
    }


    .blobContent svg:nth-child(3){
        right: -150px;
        top: 2700px;
        width: 220px;
        height: 220px;
    }


    .blobContent svg:nth-child(4){
        left: -50px;
        top: 4300px;
        width: 90px;
        height: 90px;
    }

}