.home{
    padding-top: 180px;
}

.homeContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.homeContent h1{
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.homeContentImage{
    width: 100%;
}

.homeContainer{
    position: relative;
}


.homeContentImage{
    display: flex;
    justify-content: center;
    position: relative;
}

.homeContentImageSpan{
    position: absolute;
    text-align: center;
    font-size: 96px;
    width: 100%;
    left: 0;
    top: 0;
    color: #3F4C5A;
    font-weight: bold;
    letter-spacing: 15px;
}

.homeContentImage img{
    z-index: 1;
    margin-top: 45px;
}

.homeText{
    margin-top: 45px;
    color: #fff;
}

.homeText p{
    font-size: 16px;
    margin-top: 5px;
    font-weight: unset;
}

.homeText .btn{
    margin-top: 15px;
}

/* how we work */

.howWeWork{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
}

.workItem{
    display: flex;
    margin-top: 25px;
    width: 95%;
}

.workItemSpan span{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    z-index: 1;
    width: 64px;
    height: 64px;
}

.workItemSpan span::after{
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    z-index: -1;
    background: url('../img/components/how_we_work/span.png');
}

.workItemText{
    margin-left: 15px;
    color: #fff;
}


.workItemText h2{
    font-size: 24px;
    font-weight: 500;
}

.workItemText p{
    font-size: 14px;
    font-weight: unset;
    margin-top: 5px;
}

/* about */

.aboutContent{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.aboutText{
    width: calc(100% - 360px);
}

.aboutText p{
    color: #fff;
    font-weight: unset;
    font-size: 14px;
    margin-top: 10px;
}

.aboutImg{
    width: 320px;
}

.aboutImg img{
    width: 100%;
}




@media(min-width: 320px) and (max-width: 550px){
    .home{
        padding-top: 120px;
    }

    .homeContent h1{
        text-align: center;
        font-size: 24px;
    }
    
    .homeContainer{
        position: relative;
    }
    
    
    .homeContentImage{
        margin-top: 10px;
    }
    
    .homeContentImageSpan{
        position: absolute;
        text-align: center;
        font-size: 6vw;
        width: 100%;
        letter-spacing: 10px;
    }
    
    .homeContentImage img{
        margin-top: 10px;
        width: 100%;
    }
    
    .homeText{
        text-align: center;
        margin-top: 25px;
    }
    
    .homeText p{
        font-size: 14px;
        margin-top: 5px;
    }
    
    /* how we work */

    .howWeWork{
        grid-template-columns: 1fr;
    }

    .workItem{
        width: 100%;
    }


    .workItemText h2{
        font-size: 18px;
    }

    .workItemText p{
        font-size: 12px;
    }

    /* about */

    .aboutContent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .aboutText{
        width: 100%;
    }

    .aboutImg{
        width: 100%;
        margin-top: 25px;
    }

    .aboutImg img{
        width: 100%;
    }




}


@media(min-width: 550px) and (max-width: 920px){
    .home{
        padding-top: 120px;
    }

    .homeContent h1{
        color: #fff;
        font-size: 24px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .homeContentImageSpan{
        font-size: 7vw;
        letter-spacing: 10px;
    }
    
    .homeContentImage img{
        margin-top: 15px;
        width: 100%;
    }
    
    /* how we work */

    .howWeWork{
        grid-template-columns: 1fr;
    }

    .workItem{
        margin-top: 35px;
        width: 100%;
    }

    /* about */

    .aboutContent{
        display: flex;
        flex-wrap: wrap;
    }

    .aboutText{
        width: calc(100% - 260px);
    }

    .aboutImg{
        width: 220px;
        margin-top: 25px;
    }

    

    
}

@media(min-width: 920px) and (max-width: 1224px){

    .homeContent h1{
        color: #fff;
        font-size: 24px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .homeContentImageSpan{
        font-size: 7vw;
        letter-spacing: 10px;
    }

    /* cars */

    .carContainer{
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    
    
}